<header class="hero">
  <div class="hero-container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="hero item active"><img src="/img/hero1.jpg"></div>
        <div class="hero item"><img src="/img/hero2.jpg"></div>
        <div class="hero item"><img src="/img/hero3.jpg"></div>
        <div class="hero item"><img src="/img/hero4.jpg"></div>
        <div class="hero item"><img src="/img/hero5.jpg"></div>
      </div>
    </div>

  </div>
</header>
